* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
background-color: rgb(238, 238, 238);
}
.grass{
    
    max-width: 992px;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    background: #77c850 ;
    border-radius: 1rem;
}

.content {
    width: 100vw;
    padding: 1rem;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 15rem;

}
.inf-pokemons{
    height: 100%;
    margin: -2rem auto auto auto  ;
    border-radius: 1rem 1rem 0 0;
    background-color: #ffff;

}

.btn-fixed{
    padding: 0.50rem;
    margin-bottom: 5rem;
    right: 1rem;
    text-decoration: none;
    color: white;
    font-size: 20pt;
    font-weight: 400;
}



.titulo{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 0;
    margin: 0;    
    list-style: none;
}
.name{
    color: #ffff;
    margin: 0;
}
.number{
    color: #ffffff85;
    margin: 0;
    margin-top: 1rem;
    text-align: right;
    
}

.types{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: capitalize;
}

.types .type{
    background-color: #ffffff50;
    color: #ffff;
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: .625rem;
}


.menu-bar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    align-items: center;
    padding: 0;
}
.menu-bar li{
    margin: auto;
}

.menu-bar li.selected a{
    color: rgb(137, 84, 221);
    
}

.menu-bar li a{
    color: black;
    text-decoration: none;
}
article{
    padding: 0 2rem 0 2rem ;
    list-style: none;
    display: none;
}


section article :first-child {
    display: block;
}

ol{
padding: 0;
}

#about{
display: block;
}

#about li{
    margin:2rem 0 2rem 0;
    list-style: none;
}
#base-status li{
    margin:2rem 0 2rem 0;
    list-style: none;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem 1rem 0 0;
    }
    .inf-pokemons{
        max-width: 992px;
        height: auto;
    }
}


