.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;    
    list-style: none;

}
a{
    text-decoration: none;
}
.normal {
    background: #a6a877 ;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.grass {
    background: #77c850 ;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.fire {
    background-color: #ee7f30;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.water {
    background-color: #678fee;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.electric {
    background-color: #f7cf2e;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.ice {
    background-color: #98d5d7;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.ground {
    background-color: #dfbf69;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.flying {
    background-color: #a98ff0;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.poison {
    background-color: #a040a0;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.fighting {
    background-color: #bf3029;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.psychic {
    background-color: #f65687;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.dark {
    background-color: #725847;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.rock {
    background-color: #b8a137;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.bug {
    background-color: #a8b720;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.ghost {
    background-color: #6e5896;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.steel {
    background-color: #b9b7cf;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.dragon {
    background-color: #6f38f6;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}

.fairy {
    background-color: #f9aec7;
    background-image: url("/assets/Img/pokemon.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7rem;
}
.pokemon{
    margin: .5rem;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
}

.pokemon .name{
    color: #ffff;
    margin-bottom: .25rem;
    text-transform: capitalize;
    
}

.pokemon .number{
    color: #ffffff31;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: capitalize;
}

.pokemon .detail .types .type{
    background-color: #ffffff50;
    color: #ffff;
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: .625rem;


}

.pokemons .detail img{
    max-width: 100%;
    height: 70px;
    align-self: flex-end;

}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 382px) {
    .pokemons{
       grid-template-columns: 1fr 1fr;
    }
  }

@media screen and (min-width: 576px) {
  .pokemons{
     grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 990px) {
    .pokemons{
       grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}